apiVersion: v1
kind: Service
metadata:
  name: ${component.secrets-service.name}
  namespace: ${component.secrets-service.namespace}
  labels:
    provider: agilestacks.com
    project: secrets-service
spec:
  ports:
  - name: http
    port: 80
    targetPort: 3002
    protocol: TCP
  selector:
    provider: agilestacks.com
    project: secrets-service
    qualifier: api
